// Body
$background-color: #fff;
$font-size: 100%;

// Fonts
$font-base: 'Titillium Web', sans-serif;
$headings: 'Cairo', sans-serif;
$headings-alt: 'questa-grande', sans-serif;
$blockquote: Georgia, sans-serif;

// Containers
$container-desktop: 75rem;
$container-tablet: 60rem;
$container-mobile: 40rem; 

// Colors
$font-color: #4d4d4d;
$main-color: #064e8d;