// Primary navigation
.primary .menu-items {
  display: none;
  @media screen and (min-width: $container-tablet) {
    display: block;
  }
}
.primary li {
  float: left;
  margin-right: 1.5rem;
}
.primary a {
  font-weight: 700;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
    color: #4c34eb;
  }
}

// Responsive nav
.responsive-nav {
  display: none;
  & a {
    display: block;
    padding: 7px 9px;
  }
  .nav-some-icons {
    text-align: center;
    margin-top: 2rem;
  }
  .nav-some-icons a {
    padding: 0;
    display: inline-block;
    .fa {
      background-color: #304ea2;
      color: #fff;
      font-size: 1rem;
      padding: .5rem;
    }
  }
  .locale-menu .current-locale, .locale-menu a {
    z-index: 100;
    background: #304ea2;
    color: #fff;
    padding: .25rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    font-size: .9rem;
    position: relative;
    border: none;
  }
  .locale-menu a {
    display: none;
  }
  .locale-menu.menu-open {
    a {
      display: inline-block;
      padding-top: .5rem;
    }
  }
  .nav-quick-icons {
    text-align: center;
  }
  .nav-quick-icons .map-link, .nav-quick-icons .locale-menu {
    display: inline-block;
    margin: 1rem .5rem;
  }
}
.hamburger {
  position: absolute;
  bottom: 0;
  right: 0;
  @media screen and (min-width: $container-tablet) {
    display: none;
  }
}