.alignleft {
  margin: 25px 0;
  @media screen and (min-width: $container-mobile) {
    float: left;
    margin: 0 25px 25px 0;
  }
}
.alignright {
  margin: 25px 0;
  @media screen and (min-width: $container-mobile) {
    float: right;
    margin: 0 0 25px 25px;
  }
}
.aligncenter {
  margin: 25px auto;
}

.wp-block-table {
  overflow: auto;
  @media screen and (min-width: $container-tablet) {
    overflow: none;
  }
  thead {
    th {
      padding: .75rem;
      line-height: 1.5rem;
    }
  }
  td {
    padding: .75rem;
    line-height: 1.5rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    a {
      word-break: break-all;
    }
  }
}