/* Banners */
.banners {
  @media screen and (min-width: $container-mobile) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .banner {
    background-image: url('../images/green-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 12.5em;
    color: #fff;
    position: relative;
    margin-bottom: 1rem;
    @media screen and (min-width: $container-mobile) {
      margin-bottom: 0;
    }
    &.blue {
      background-image: url('../images/blue-bg.jpg');
    }
    &.pink {
      background-image: url('../images/pink-bg.jpg');
    }
    &.orange {
      background-image: url('../images/orange-bg.jpg');
    }
    .small-page-banner-title {
      position: absolute;
      display: block;
      bottom: 1.25rem;
      width: 100%;
      left: 0;
      padding-left: 1.5rem;
      padding-right: 1rem;
      line-height: 1.5;
      span {
        font-weight: 600;
      }
      .fa {
        float: right;
      }
    }
  }
}

/* Accordion */
.site-main .accessibility-sentences .accessibility-sentence {
  border-top: 1px solid #d3d3d3;
  padding: 1rem .5rem 0;
  &:last-child {
    border-bottom: 1px solid #d3d3d3;
  }
  ul {
    margin-left: 1rem;
    padding-left: 1rem;
    li {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  }
  .content {
    display: none;
    p {
      margin: 0;
    }
  }
  &.visible {
    .content {
      display: block;
    }
  }
}
.site-main .accessibility-sentences .accessibility-sentence button {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: rgba(0,0,0,0);
  border: 0;
  text-align: left;
  margin-bottom: .5rem;
  cursor: pointer;
  position: relative;
  padding: 0;
  &::before {
    content: "";
    width: 34px;
    height: 24px;
    position: relative;
    top: -3px;
    background-image: url('../images/mikkeli-menu-open.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  &.closed::before {
    background-image: url('../images/mikkeli-menu-closed.png');
  }
}
.site-main .accessibility-sentences .accessibility-sentence .button-text {
  color: #54575a;
  font-weight: 700;
}