input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea, input[type="submit"], button[type="submit"] {
  padding: 7px 9px;
  width: 100%;
  @media screen and (min-width: $container-mobile) {
    width: auto;
  }
}
textarea {
  max-width: 100%;
  width: 100%;
}
input[type="submit"] {
  width: auto;
}