input[type="text"], input[type="email"], input[type="tel"], input[type="search"], textarea, input[type="submit"], button[type="submit"] {
  width: auto;
  padding: .5rem;
}
textarea {
  max-width: 100%;
  width: 100%;
}
input[type="submit"] {
  width: auto;
}