.sidebar {
  .title {
    font-family: $headings;
    font-size: .9rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
  .sub-navigation {
    display: none;
    clear: both;
    @media screen and (min-width: $container-mobile) {
      display: block;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
      height: 0;
      visibility: hidden;
      border-bottom: 1px solid #e5e5e5;
      a {
        padding: .5rem;
        padding-left: 1rem;
      }
      &.visible, &.current_page_ancestor {
        height: auto;
        visibility: visible;
      }
    }
    li {
      position: relative;
    }
    a {
      color: #71767d;
      display: block;
      padding: .5rem;
      border-bottom: 1px solid #e5e5e5;
    }
    li:last-child a {
      border-bottom: none;
    }
  }
  .open {
    position: absolute;
    top: .5rem;
    right: 0;
    width: 1.3125rem;
    height: 1.3125rem;
    padding-top: 1.3125rem;
    overflow: hidden;
    background-image: url('../images/mikkeli-menu-closed.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
  }
  .active .open {
    background-image: url('../images/mikkeli-menu-open.png');
  }
  .current_page_item > a, .page-nav-item.active a, .current_page_ancestor > a {
    color: #fff;
    background-color: #d94c70;
  }
  .current_page_item, .current_page_parent {
    .open {
      display: none;
    }
    ul {
      height: auto;
      visibility: visible;
      a {
        padding-left: 1rem;
      }
    }
  }
  .page_item_has_children.active > a {
    border-bottom: 1px solid #e5e5e5;
  }
  .all-news-link {
    background-color: transparent;
    color: #000;
    padding: 0;
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }
  .btn-menu {
    display: block;
    float: right;
    background-color: #000;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: .5rem 1rem;
    cursor: pointer;
    @media screen and (min-width: $container-mobile) {
      display: none;
    }
  }
}

.site-main.with-sidebar-column {
  .sidebar-column {
    padding: 1rem;
    background-color: #edeef2;
    @media screen and (min-width: $container-tablet) {
      max-width: 40%;
    }
    @media screen and (min-width: $container-desktop) {
      max-width: 30%;
    }
  }
}